@charset "UTF-8";

.q6_wrap {
  display: flex;
  justify-content:center;
}

.q6_img_box {
  width: 300px;
  height: 200px;
  overflow: hidden;
  margin-left: 50px;
}

.q6_img_box:first-child {
  margin-left: 0;
}

.q6_img {
  width: 100%;
  height: 100%;
}

.q6_expansion {
  transition-duration: 0.5s;
}

.q6_expansion:hover {
  transform: scale(1.5);
  transition-duration: 0.5s;
}

.q6_text_box {
  position: relative;
}

.q6_text {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  -webkit-transition:	all 0.6s ;
	transition:		all 0.6s ;
  opacity: 0;
  overflow: hidden;
}

.q6_text:hover {
  padding-bottom: 30px;
  opacity: 1;
}

.q6_slide {
  width: 100%;
  height: 100%;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}


/* q6が終わったら
q7のcssはq7フォルダの中のcssファイルに記述してください */