@charset "UTF-8";

.text-align,
.margin,
.table-cell,
.display_flex,
.variable,
.fixed
{
  text-align: center;
}

.inline-block,
.display_inline
{
  display: inline-block;
}

.margin {
  margin: 0 auto;
}

.table {
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}


.position_relative {
  position: relative;
}

.fixed {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.variable {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* q4が終わったら
q5のcssはq5フォルダの中のcssファイルに記述してください */